# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel HeliosKernel

   # Setting permissions
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
   chmod 0644 /dev/cpuset/foreground/cpus
   chmod 0644 /dev/cpuset/top-app/cpus
   chmod 0644 /sys/kernel/gpu/gpu_min_clock
   chmod 0644 /sys/kernel/gpu/gpu_max_clock

# Balance (default profile)
on property:persist.spectrum.profile=0

   # Set Governor
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "bioshock"
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "bioshock"

   # Set frequencies
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 400000
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1500000
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 600000
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2000000

   # GPU
   write /sys/kernel/gpu/gpu_min_clock 266
   write /sys/kernel/gpu/gpu_max_clock 700
   write /sys/devices/11400000.mali/power_policy "always_on"
   write /sys/devices/11400000.mali/highspeed_load 90

   # IO
   write /sys/block/mmcblk0/queue/scheduler "cfq"
   write /sys/block/mmcblk0/queue/read_ahead_kb 2048

   # Others
   write /proc/sys/vm/laptop_mode 0
   write /sys/module/mmc_core/parameters/crc 1
   write /sys/module/sync/parameters/fsync_enabled "Y"
   write /sys/kernel/sched/arch_power 1
   write /sys/kernel/dyn_fsync/Dyn_fsync_active 1
   write /sys/devices/virtual/timed_output/vibrator/enable 120

# Performance
on property:persist.spectrum.profile=1
   # Set Governor
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "blu_active"
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "blu_active"

   # Set frequencies
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 600000
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1600000
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 800000
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2200000

   # GPU
   write /sys/kernel/gpu/gpu_min_clock 350
   write /sys/kernel/gpu/gpu_max_clock 772
   write /sys/devices/11400000.mali/power_policy "always_on"
   write /sys/devices/11400000.mali/highspeed_load 80

   # IO
   write /sys/block/mmcblk0/queue/scheduler "cfq"
   write /sys/block/mmcblk0/queue/read_ahead_kb 2048

   # Others
   write /proc/sys/vm/laptop_mode 1
   write /sys/module/mmc_core/parameters/crc 0
   write /sys/module/sync/parameters/fsync_enabled "N"
   write /sys/kernel/sched/arch_power 0
   write /sys/kernel/dyn_fsync/Dyn_fsync_active 1
   write /sys/devices/virtual/timed_output/vibrator/enable 120

# Battery
on property:persist.spectrum.profile=2
   # Set Governor
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "smartmax"
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "smartmax"

   # Set frequencies
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 400000
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1400000
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 400000
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1896000

   # GPU
   write /sys/kernel/gpu/gpu_min_clock 266
   write /sys/kernel/gpu/gpu_max_clock 600
   write /sys/devices/11400000.mali/power_policy "always_on"
   write /sys/devices/11400000.mali/highspeed_load 95

   # IO
   write /sys/block/mmcblk0/queue/scheduler "noop"
   write /sys/block/mmcblk0/queue/read_ahead_kb 2048

   # Others
   write /proc/sys/vm/laptop_mode 1
   write /sys/module/mmc_core/parameters/crc 0
   write /sys/module/sync/parameters/fsync_enabled "N"
   write /sys/kernel/sched/arch_power 1
   write /sys/kernel/dyn_fsync/Dyn_fsync_active 1
   write /sys/devices/virtual/timed_output/vibrator/enable 120

# Gaming
on property:persist.spectrum.profile=3
   # Set Governor
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "performance"
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"
   # Set frequencies
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 400000
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1500000
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 400000
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2100000
   # GPU
   write /sys/kernel/gpu/gpu_min_clock 350
   write /sys/kernel/gpu/gpu_max_clock 772
   write /sys/devices/14ac0000.mali/power_policy "always_on"
   write /sys/devices/14ac0000.mali/highspeed_load 85
   # IO
   write /sys/block/mmcblk0/queue/scheduler "cfq"
   write /sys/block/mmcblk0/queue/read_ahead_kb 2048
   # Others
   write /proc/sys/vm/laptop_mode 1
   write /sys/module/mmc_core/parameters/crc 0
   write /sys/module/sync/parameters/fsync_enabled "N"
   write /sys/kernel/sched/arch_power 0
   write /sys/kernel/dyn_fsync/Dyn_fsync_active 0
   write /sys/devices/virtual/timed_output/vibrator/enable 120
