/dev/mali0                0666   system     system
/dev/ion                  0666   system     system
/dev/ump                  0666   system     graphics
/dev/exynos-mem           0660   system     graphics
/dev/video0               0660   system     camera
/dev/video1               0660   system     camera
/dev/video2               0660   system     camera
/dev/video3               0660   system     camera
/dev/video20              0660   system     system
# media0 is used for GSC, DECON, etc
/dev/media0               0660   system     camera
# media1 is used for DECON Ext WB
/dev/media1               0660   system     graphics
# Various devices use the v4l-subdev interface
# We declare all such nodes simultaneously here
/dev/v4l-subdev0          0660   system     camera
/dev/v4l-subdev1          0660   system     camera
/dev/v4l-subdev2          0660   system     camera
/dev/v4l-subdev3          0660   system     camera
/dev/v4l-subdev4          0660   system     camera
/dev/v4l-subdev5          0660   system     camera
/dev/v4l-subdev6          0660   system     camera
/dev/v4l-subdev7          0660   system     camera
/dev/v4l-subdev8          0660   system     camera
/dev/v4l-subdev9          0660   system     camera
/dev/v4l-subdev10         0660   system     camera
/dev/v4l-subdev11         0660   system     camera
/dev/v4l-subdev12         0660   system     camera
/dev/v4l-subdev13         0660   system     camera
/dev/v4l-subdev14         0660   system     camera
/dev/v4l-subdev15         0660   system     camera
/dev/v4l-subdev16         0660   system     camera
/dev/v4l-subdev17         0660   system     camera
/dev/v4l-subdev18         0660   system     camera
/dev/v4l-subdev19         0660   system     camera
# v4l-subdev20 is used for DECON Ext WB
/dev/v4l-subdev20         0660   system     graphics
/dev/v4l-subdev21         0660   system     graphics
/dev/v4l-subdev32         0660   system     graphics

# gscalers
/dev/video23              0660   media      graphics
/dev/video26              0660   media      graphics
/dev/video24              0660   media      graphics
/dev/video27              0660   media      graphics
/dev/video29              0660   media      graphics
/dev/video30              0660   media      graphics
# video31 is used for DECON Ext WB
/dev/video31              0660   media      graphics

# mscalers
/dev/video50              0660   mediacodec      drmrpc
/dev/video51              0660   cameraserver      cameraserver
/dev/m2m1shot_scaler0     0660   mediacodec      graphics
/dev/m2m1shot_scaler1     0660   cameraserver      cameraserver

/dev/video55              0666   system     graphics
/dev/fimg2d               0666   system     graphics
/dev/i2c-2                0660   system     system
/dev/HPD                  0660   system     system

# mfc
/dev/video6               0660   mediacodec mediadrm
/dev/video7               0660   mediacodec mediadrm
/dev/video8               0660   mediacodec mediadrm
/dev/video9               0660   mediacodec mediadrm

# camera
/dev/video101             0660   cameraserver      cameraserver
/dev/video102             0660   cameraserver      cameraserver
/dev/video103             0660   cameraserver      cameraserver
/dev/video104             0660   cameraserver      cameraserver
/dev/video105             0660   cameraserver      cameraserver
/dev/video106             0660   cameraserver      cameraserver
/dev/video109             0660   cameraserver      cameraserver
/dev/video110             0660   cameraserver      cameraserver
/dev/video111             0660   cameraserver      cameraserver
/dev/video112             0660   cameraserver      cameraserver
/dev/video120             0660   cameraserver      cameraserver
/dev/video121             0660   cameraserver      cameraserver
/dev/video122             0660   cameraserver      cameraserver
/dev/video130             0660   cameraserver      cameraserver
/dev/video131             0660   cameraserver      cameraserver
/dev/video132             0660   cameraserver      cameraserver
/dev/video140             0660   cameraserver      cameraserver
/dev/video141             0660   cameraserver      cameraserver
/dev/video142             0660   cameraserver      cameraserver
/dev/video150             0660   cameraserver      cameraserver
/dev/video151             0660   cameraserver      cameraserver
/dev/video152             0660   cameraserver      cameraserver
/dev/video160             0660   cameraserver      cameraserver
/dev/video161             0660   cameraserver      cameraserver
/dev/video170             0660   cameraserver      cameraserver
/dev/video171             0660   cameraserver      cameraserver
/dev/video172             0660   cameraserver      cameraserver
/dev/video173             0660   cameraserver      cameraserver
/dev/video174             0660   cameraserver      cameraserver
/dev/video180             0660   cameraserver      cameraserver
/dev/video210             0660   cameraserver      cameraserver
/dev/video211             0660   cameraserver      cameraserver
/dev/video212             0660   cameraserver      cameraserver
/dev/video213             0660   cameraserver      cameraserver
/dev/video214             0660   cameraserver      cameraserver
/dev/video215             0660   cameraserver      cameraserver
/dev/video216             0660   cameraserver      cameraserver
/dev/video217             0660   cameraserver      cameraserver
/dev/video218             0660   cameraserver      cameraserver
/dev/video219             0660   cameraserver      cameraserver
/dev/video220             0660   cameraserver      cameraserver
/dev/video221             0660   cameraserver      cameraserver
/dev/video222             0660   cameraserver      cameraserver
/dev/video223             0660   cameraserver      cameraserver
/dev/video224             0660   cameraserver      cameraserver
/dev/video225             0660   cameraserver      cameraserver
/dev/video227             0660   cameraserver      cameraserver
/dev/video231             0660   cameraserver      cameraserver
/dev/media2               0660   media      media

# jpeg
/dev/m2m1shot_jpeg	  0660   media      media
/dev/video12              0660   media      media

# audio
/dev/seiren               0660   system     audio

#temporary
/data/modem.bin           0400   radio      system

# DM tools
/dev/umts_dm0             0660   radio      radio
/dev/umts_router          0660   radio      radio

# SIPC RIL
/dev/umts_boot0           0660   radio      radio
/dev/umts_ipc0            0660   radio      radio
/dev/umts_ipc1            0660   radio      radio
/dev/umts_rfs0            0660   radio      radio

# Modem Interface
/dev/block/platform/155a0000.ufs/by-name/RADIO	0660   system     radio
/dev/block/platform/155a0000.ufs/by-name/CP_DEBUG	0660	radio	system
/dev/umts*                0660   system     radio
/dev/umts_csd             0660   system     loop_radio
/dev/smd4                 0660   system     radio

# interactive governor parameters
/sys/devices/system/cpu/cpu*	cpufreq/interactive/timer_rate			0660	system	system
/sys/devices/system/cpu/cpu*	cpufreq/interactive/timer_slack			0660	system	system
/sys/devices/system/cpu/cpu*	cpufreq/interactive/min_sample_time		0660	system	system
/sys/devices/system/cpu/cpu*	cpufreq/interactive/hispeed_freq		0660	system	system
/sys/devices/system/cpu/cpu*	cpufreq/interactive/target_loads		0660	system	system
/sys/devices/system/cpu/cpu*	cpufreq/interactive/go_hispeed_load		0660	system	system
/sys/devices/system/cpu/cpu*	cpufreq/interactive/above_hispeed_delay		0660	system	system
/sys/devices/system/cpu/cpu*	cpufreq/interactive/boost			0660	system	system
/sys/devices/system/cpu/cpu*	cpufreq/interactive/boostpulse			0200	system	system
/sys/devices/system/cpu/cpu*	cpufreq/interactive/input_boost			0660	system	system
/sys/devices/system/cpu/cpu*	cpufreq/interactive/boostpulse_duration		0660	system	system
/sys/devices/system/cpu/cpu*	cpufreq/interactive/io_is_busy			0660	system	system
/sys/devices/system/cpu/cpu*	cpufreq/interactive/param_index			0660	system	system
/sys/devices/system/cpu/cpu*	cpufreq/interactive/mode			0660	system	system

# sensor sysfs properties
/sys/devices/virtual/input/input*    poll_delay    0660    system    radio
/sys/devices/virtual/input/input*    enable        0660    system    radio
/dev/input/event*	  0660   system		input

# Sensorhub IIO
/dev/ssp_sensorhub        0660   system		system
/dev/batch_io		  0600   system         system
/dev/iio:device*          0660   system		system
/sys/devices/14d30000.spi/spi_master/spi1/spi1.0/iio:device*    buffer/enable       0660    system    system
/sys/devices/14d30000.spi/spi_master/spi1/spi1.0/iio:device*    buffer/length       0660    system    system
/sys/bus/iio/devices/iio:device*    0664   system     radio
/sys/bus/iio/devices/iio:device*	poll_delay	0660	system	system

# Broadcom Sensorhub Bridge Driver
/dev/bbd_sensor           0660   system     system
/dev/bbd_control          0660   system     system
/dev/bbd_packet           0660   system     system
/dev/bbd_reliable         0660   system     system
/dev/bbd_sio              0660   system     system
/dev/bbd_patch            0660   system     system
/dev/ttyBCM*              0660   system     system

# Google FRP solution
/dev/block/platform/155a0000.ufs/by-name/PERSISTENT    0660    system    system

# Reactivation Lock
/dev/block/platform/155a0000.ufs/by-name/STEADY    0660    system    system