#
#
# Helios defconfig
#
# CONFIG_ALWAYS_PERMISSIVE is not set
CONFIG_MORO_SOUND=y
CONFIG_BOEFFLA_WL_BLOCKER=y
CONFIG_UKSM=y
CONFIG_POWERSUSPEND=y
# CONFIG_POWERSUSPEND_DEBUG is not set
CONFIG_DYNAMIC_FSYNC=y
CONFIG_NET_UDP_TUNNEL=y
CONFIG_WIREGUARD=y
# CONFIG_WIREGUARD_DEBUG is not set
# CONFIG_STORE_MODE is not set
CONFIG_PANEL_SMART_DIMMING=y
CONFIG_WAKE_GESTURES=y
CONFIG_F2FS_FS=y
CONFIG_F2FS_FS_SECURITY=y
# CONFIG_F2FS_CHECK_FS is not set
# CONFIG_F2FS_FS_ENCRYPTION is not set
# CONFIG_F2FS_IO_TRACE
# CONFIG_F2FS_FAULT_INJECTION is not set
