#
#
# Helios defconfig
#
# CONFIG_SECURITY_SELINUX_FAKE_ENFORCE is not set
# CONFIG_SECURITY_SELINUX_ALWAYS_ENFORCE is not set
CONFIG_SECURITY_SELINUX_NEVER_ENFORCE=y
CONFIG_MORO_SOUND=y
CONFIG_BOEFFLA_WL_BLOCKER=y
CONFIG_UKSM=y
CONFIG_POWERSUSPEND=y
# CONFIG_POWERSUSPEND_DEBUG is not set
