#
# herolte_defconfig
#
# CONFIG_FB_DSU_REG_LOCK is not set
# CONFIG_EXYNOS_DECON_LCD_MCD is not set
CONFIG_LCD_ESD_IDLE_MODE=y
# CONFIG_PANEL_S6E3HF4_WQHD is not set
CONFIG_PANEL_S6E3HA3_DYNAMIC=y
CONFIG_PREVENT_SWELLING_BATTERY=y
CONFIG_SENSORS_SX9310_NORMAL_TOUCH_THRESHOLD=176
# CONFIG_SENSORS_HERO2 is not set
CONFIG_TOUCHSCREEN_FTS7=y
CONFIG_WAKE_GESTURES=y
