#
#
# OneUI defconfig
#
CONFIG_USB_ANDROID_SAMSUNG_MTP=y
# CONFIG_NETFILTER_XT_TARGET_CT is not set
CONFIG_EXFAT_FS=y
CONFIG_FAT_DEFAULT_IOCHARSET="iso8859-1"
# CONFIG_SDFAT_SUPPORT_DIR_SYNC is not set
# CONFIG_SDFAT_CHECK_RO_ATTR is not set
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y
