#
#
# Treble defconfig
#
# CONFIG_USB_ANDROID_SAMSUNG_MTP is not set
CONFIG_NETFILTER_XT_TARGET_CT=y
CONFIG_FAT_DEFAULT_IOCHARSET="utf8"
CONFIG_SDFAT_SUPPORT_DIR_SYNC=y
CONFIG_SDFAT_CHECK_RO_ATTR=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_SDFAT_USE_FOR_VFAT=y
CONFIG_SDFAT_USE_FOR_EXFAT=y
